1.Write code to reverse a string

In [ ]:
def reverse_string(s):
    return s[::-1]

s = "hello"
result = reverse_string(s)
print(result)

2.Write code to count the number of vowels in a string

In [ ]:
def count_vowels(s):
    vowels = 'aeiouAEIOU'
    return sum(1 for char in s if char in vowels)

s = "hello world"
result = count_vowels(s)
print(result)

3. Write code to check if a given string is a palindrome or not:

In [ ]:
def is_palindrome(s):
    return s == s[::-1]

s = "radar"
result = is_palindrome(s)
print(result)

4.Write code to check if two given strings are anagrams of each other:

In [ ]:
def are_anagrams(s1, s2):
    return sorted(s1) == sorted(s2)

s1 = "listen"
s2 = "silent"
result = are_anagrams(s1, s2)
print(result)

5.Write code to find all occurrences of a given substring within another string

In [ ]:
def find_occurrences(text, substring):
    start = 0
    while True:
        start = text.find(substring, start)
        if start == -1:
            break
        yield start
        start += len(substring)

text = "This is a test. This test is only a test."
substring = "test"
occurrences = list(find_occurrences(text, substring))
print(occurrences)

6.Write code to perform basic string compression using the count of repeated characters

In [ ]:
def compress_string(s):
    if not s:
        return ""
    compressed = []
    count = 1
    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1
    compressed.append(s[-1] + str(count))
    return ''.join(compressed)

s = "aabbcccccaaa"
result = compress_string(s)
print(result)

7.Write code to determine if a string has all unique characters:

In [ ]:
def has_unique_characters(s):
    return len(s) == len(set(s))

s = "abcdef"
result = has_unique_characters(s)
print(result)

8.Write code to convert a given string to uppercase or lowercase:

In [ ]:
def convert_case(s, to_upper=True):
    return s.upper() if to_upper else s.lower()

s = "Hello World"
result_upper = convert_case(s, to_upper=True)
result_lower = convert_case(s, to_upper=False)
print(result_upper)
print(result_lower)

9. Write a code to find all occurrences of a given substring within another string

In [31]:
def find_occurrences(text, substring):
    start = 0
    while True:
        start = text.find(substring, start)
        if start == -1:
            break
        yield start
        start += len(substring)

text = "This is a test. This test is only a test."
substring = "test"
occurrences = list(find_occurrences(text, substring))
print(occurrences)

[10, 21, 36]

10. Write a code to concatenate two strings without using the + operator

In [3]:
def concatenate_strings(str1, str2):
    return ''.join([str1, str2])

str1 = "Hello, "
str2 = "world!"
result = concatenate_strings(str1, str2)
print(result)

Hello, world!

11. Write a code to remove all occurrences of a specific element from a list

In [4]:
def remove_occurrences(lst, element):
    return [x for x in lst if x != element]

lst = [1, 2, 3, 2, 4, 2, 5]
element = 2
result = remove_occurrences(lst, element)
print(result)

[1, 3, 4, 5]

12. Implement a code to find the second largest number in a given list of integers

In [5]:
def second_largest(lst):
    unique_lst = list(set(lst))
    unique_lst.sort()
    return unique_lst[-2] if len(unique_lst) > 1 else None

lst = [10, 20, 4, 45, 99, 99, 45]
result = second_largest(lst)
print(result)

45

13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values

In [6]:
def count_occurrences(lst):
    counts = {}
    for item in lst:
        counts[item] = counts.get(item, 0) + 1
    return counts

lst = ['apple', 'banana', 'apple', 'orange', 'banana', 'banana']
result = count_occurrences(lst)
print(result)

{'apple': 2, 'banana': 3, 'orange': 1}

14. Write a code to reverse a list in-place without using any built-in reverse functions

In [7]:
def reverse_list(lst):
    left, right = 0, len(lst) - 1
    while left < right:
        lst[left], lst[right] = lst[right], lst[left]
        left += 1
        right -= 1

lst = [1, 2, 3, 4, 5]
reverse_list(lst)
print(lst)

[5, 4, 3, 2, 1]

15. Implement a code to find and remove duplicates from a list while preserving the original order of elements

In [8]:
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            result.append(item)
            seen.add(item)
    return result

lst = [1, 2, 2, 3, 4, 4, 5]
result = remove_duplicates(lst)
print(result)

[1, 2, 3, 4, 5]

16. Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [9]:
def is_sorted(lst):
    return lst == sorted(lst) or lst == sorted(lst, reverse=True)

lst = [1, 2, 3, 4, 5]
result = is_sorted(lst)
print(result)

True

17. Write a code to merge two sorted lists into a single sorted list

In [10]:
def merge_sorted_lists(lst1, lst2):
    return sorted(lst1 + lst2)

lst1 = [1, 3, 5, 7]
lst2 = [2, 4, 6, 8]
result = merge_sorted_lists(lst1, lst2)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8]

18. Implement a code to find the intersection of two given lists

In [11]:
def intersection(lst1, lst2):
    return list(set(lst1) & set(lst2))

lst1 = [1, 2, 3, 4, 5]
lst2 = [4, 5, 6, 7, 8]
result = intersection(lst1, lst2)
print(result)

[4, 5]

19. Create a code to find the union of two lists without duplicates

In [12]:
def union(lst1, lst2):
    return list(set(lst1) | set(lst2))

lst1 = [1, 2, 3, 4]
lst2 = [3, 4, 5, 6]
result = union(lst1, lst2)
print(result)

[1, 2, 3, 4, 5, 6]

20. Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [13]:
import random

def shuffle_list(lst):
    lst_copy = lst[:]
    for i in range(len(lst_copy) - 1, 0, -1):
        j = random.randint(0, i)
        lst_copy[i], lst_copy[j] = lst_copy[j], lst_copy[i]
    return lst_copy

lst = [1, 2, 3, 4, 5]
result = shuffle_list(lst)
print(result)

[5, 4, 2, 3, 1]

21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples

In [14]:
def common_elements(tuple1, tuple2):
    return tuple(set(tuple1) & set(tuple2))

tuple1 = (1, 2, 3, 4)
tuple2 = (3, 4, 5, 6)
result = common_elements(tuple1, tuple2)
print(result)

(3, 4)

22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets

In [17]:
def intersection_of_sets():
    set1 = set(map(int, input("Enter first set of integers separated by commas: ").split(',')))
    set2 = set(map(int, input("Enter second set of integers separated by commas: ").split(',')))
    print(set1 & set2)

intersection_of_sets()

Enter first set of integers separated by commas:  2,3,4,5,6,7
Enter second set of integers separated by commas:  1,2,3,4,5,6,7,8

{2, 3, 4, 5, 6, 7}

23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples

In [18]:
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)
print(result)

(1, 2, 3, 4, 5, 6)

24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set

In [19]:
def difference_of_sets():
    set1 = set(input("Enter first set of strings separated by commas: ").split(','))
    set2 = set(input("Enter second set of strings separated by commas: ").split(','))
    print(set1 - set2)

difference_of_sets()

Enter first set of strings separated by commas:  1,2,3,4,5,6,7
Enter second set of strings separated by commas:  8,7,6,5,4,3,2

{'1'}

25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices

In [20]:
def slice_tuple(tpl, start, end):
    return tpl[start:end]

tpl = (1, 2, 3, 4, 5, 6)
start = 2
end = 4
result = slice_tuple(tpl, start, end)
print(result)

(3, 4)

26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [21]:
def union_of_sets():
    set1 = set(input("Enter first set of characters separated by commas: ").split(','))
    set2 = set(input("Enter second set of characters separated by commas: ").split(','))
    print(set1 | set2)

union_of_sets()

Enter first set of characters separated by commas:  2,3,4,4
Enter second set of characters separated by commas:  1,2,3,4,5,6,7,8,9

{'5', '1', '4', '8', '7', '3', '6', '9', '2'}

27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

In [22]:
def max_min_tuple(tpl):
    return max(tpl), min(tpl)

tpl = (3, 1, 4, 1, 5, 9, 2)
max_val, min_val = max_min_tuple(tpl)
print(f"Max: {max_val}, Min: {min_val}")

Max: 9, Min: 1

28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets

In [23]:
def set_operations():
    set1 = set(map(int, input("Enter first set of integers separated by commas: ").split(',')))
    set2 = set(map(int, input("Enter second set of integers separated by commas: ").split(',')))
    
    print("Union:", set1 | set2)
    print("Intersection:", set1 & set2)
    print("Difference (set1 - set2):", set1 - set2)
    print("Difference (set2 - set1):", set2 - set1)

set_operations()

Enter first set of integers separated by commas:  1,2,3,4,5,6,7,8,9
Enter second set of integers separated by commas:  2,3,4,6

Union: {1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersection: {2, 3, 4, 6}
Difference (set1 - set2): {1, 5, 7, 8, 9}
Difference (set2 - set1): set()

29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

In [24]:
def count_element(tpl, element):
    return tpl.count(element)

tpl = (1, 2, 3, 4, 2, 2, 5)
element = 2
result = count_element(tpl, element)
print(result)

3

30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets

In [25]:
def symmetric_difference_of_sets():
    set1 = set(input("Enter first set of strings separated by commas: ").split(','))
    set2 = set(input("Enter second set of strings separated by commas: ").split(','))
    print(set1 ^ set2)

symmetric_difference_of_sets()

Enter first set of strings separated by commas:  3,4,5,6,7
Enter second set of strings separated by commas:  2,1,3,5,7

{'1', '4', '6', '2'}

31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list

In [26]:
def word_frequencies(word_list):
    return {word: word_list.count(word) for word in set(word_list)}

word_list = ['apple', 'banana', 'apple', 'orange', 'banana', 'banana']
result = word_frequencies(word_list)
print(result)

{'orange': 1, 'banana': 3, 'apple': 2}

32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together

In [27]:
def merge_dicts(dict1, dict2):
    result = dict1.copy()
    for key, value in dict2.items():
        result[key] = result.get(key, 0) + value
    return result

dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
result = merge_dicts(dict1, dict2)
print(result)

{'a': 1, 'b': 5, 'c': 4}

33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None

In [28]:
def get_nested_value(d, keys):
    for key in keys:
        if isinstance(d, dict) and key in d:
            d = d[key]
        else:
            return None
    return d

nested_dict = {'a': {'b': {'c': 42}}}
keys = ['a', 'b', 'c']
result = get_nested_value(nested_dict, keys)
print(result)

42

34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order

In [29]:
def sort_dict_by_values(d, reverse=False):
    return dict(sorted(d.items(), key=lambda item: item[1], reverse=reverse))

d = {'a': 3, 'b': 1, 'c': 2}
result = sort_dict_by_values(d)
print(result)

{'b': 1, 'c': 2, 'a': 3}

35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [30]:
def invert_dict(d):
    inverted = {}
    for key, value in d.items():
        if value not in inverted:
            inverted[value] = [key]
        else:
            inverted[value].append(key)
    return inverted

d = {'a': 1, 'b': 2, 'c': 1}
result = invert_dict(d)
print(result)

{1: ['a', 'c'], 2: ['b']}